[
  {rico, [
    {max_retry, 3},
    {pools, #{
        default => #{
          pool_size => 5,
          host => "localhost",
          port => "8087",
          user => "rico",
          pw => "ricopw",
          cacertfile => {priv_dir, rico, "rootCA.crt"},
          certfile => {priv_dir, rico, "rico.crt"},
          keyfile => {priv_dir, rico, "rico.key"}
        }
      }
    }
  ]}
].